<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/c3313db431.js" crossorigin="anonymous"></script>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

       <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      
  <%= link_to "/", method: :get do %>
    <i class="navbar-brand"></i><span>Bookers</span>

  
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

    <% if user_signed_in? %>
    <li>
      <%= link_to "/users/#{current_user.id}", method: :get do %>
        <i class="fas fa-home nav-link text-light"></i>Home
      <% end %>
     </li>
     
    <li>
      <%= link_to "/users", method: :get do %>
        <i class="fas fa-users nav-link text-light"></i>Users
      <% end %>
    </li>
     
    <li>
      <%= link_to "/books", method: :get do %>
        <i class="fas fa-book-open nav-link text-light"></i>Books
      <% end %>
    </li>
    
    <li>
      <%= link_to "/users/sign_out", method: :delete do %>
        <i class="fas fa-sign-out-alt nav-link text-light" rel="nofollow"></i>logout
      <% end %>
      
      </li>
      
    <% else %>
    <li>
      <%= link_to "/", method: :get do %>
        <i class="fas fa-home nav-link text-light"></i>Home
      <% end %>
  </li>
  
  <li>
      <%= link_to "/home/about", method: :get do %>
        <i class="fas fa-link nav-link text-light"></i>About
      <% end %>
  </li>
          
  <li>
      <%= link_to "/users/sign_up", method: :get do %>
        <i class="fas fa-user-plus nav-link text-light"></i>sign up
      <% end %>
    </li>
  <li>
      <%= link_to "/users/sign_in", method: :get do %>
        <i class="fas fa-sign-in-alt nav-link text-light"></i>login
      <% end %>
    </li>
    
    <% end %>
        </ul>
      </div>
    </div>
  </nav>
    </header>
    

 <%= render 'layouts/notifications' %>

    <%= yield %>

        <footer>
  <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
    </footer>


  </body>
</html>
